<a href="#💄" class="back-to-top" title="Back to top"><span>&#8593;</span></a>

<footer class="site-footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a class="page-link" href="/faq">
            FAQ
          </a>
        </li>
        <li>
          <a class="page-link" href="/more">
            More
          </a>
        </li>
        <li>
          <a class="page-link" href="/about">
            About
          </a>
        </li>
        <li>
          <a class="page-link" href="/updates">
            Updates
          </a>
        <li>
          <a class="page-link" href="/">
            Home
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="page-link" href="/black-owned-beauty-brands">
            Black-owned beauty brands
          </a>
        </li>
        <li>
          <a class="page-link" href="/latinx-owned-beauty-brands">
            Latinx-owned beauty brands
          </a>
        </li>
        <li>
          <a class="page-link" href="/middle-eastern-owned-beauty-brands">
            MENA-owned beauty brands
          </a>
        </li>
        <li>
          <a class="page-link" href="/asian-owned-beauty-brands">
            Asian-owned beauty brands
          </a>
        </li>
        <li>
          <a class="page-link" href="/problematic-beauty-brands">
            Problematic brands
          </a>
        </li>
      </ul>
      <ul class="links-social">
        <li>
          <a class="ig" title="Instagram" href="https://instagram.com/beautyundercapitalism" target="_blank">
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a class="tw" title="twitter" href="https://twitter.com/beauty_capital" target="_blank">
            <span>Twitter</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
