<a href="#💄" class="back-to-top" title="Back to top"><span>&#8593;</span></a>

<footer class="site-footer">
  <div class="container">
    <a class="page-link" href="/#about">
      About
    </a>
    <a class="page-link" href="/#contact">
      Contact
    </a>
    <a class="page-link" href="/black-owned-beauty-brands">
      Black-owned beauty brand list
    </a>
    <a class="page-link" href="/latinx-owned-beauty-brands">
      Latinx-owned beauty brand list
    </a>
    <a class="page-link" href="/middle-eastern-owned-beauty-brands">
      MENA-owned beauty brand list
    </a>
    <a class="page-link" href="/asian-owned-beauty-brands">
      Asian-owned beauty brand list
    </a>
    <a class="page-link" href="/problematic-beauty-brands">
      Problematic brand list
    </a>
  </div>
</footer>
