<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width">

  <title>{% if page.title %}{{ page.title }} | {% endif %} Beauty Under Capitalism</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/assets/favicon.png">
  <meta name="description" content="{{site.description}}"/>
  <meta name="author" content="{{site.author}}"/>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image" content="{{site.url}}/assets/social.jpg">
  <meta property="og:site_name" content="Beauty Under Capitalism">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.tagline }}">
  <meta name="twitter:title" content="{{ site.tagline }}">
  <meta property="og:url" content="https://beautyundercapitalism.com">
  <meta property="og:description" content="{{ site.description }}">

  <link rel="stylesheet" href="/assets/style.css?{{ site.time | date: '%s'}}">
  <link rel="stylesheet" href="https://use.typekit.net/zbx2ddc.css">

  <script src="/assets/script.js"></script>
</head>

<body id="💄" class="{{ page.title | slugify}} js-hidden">
{% include nav.html %}
