<header id="top" class="site-header" role="banner">
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

  <nav class="site-nav">
    <a class="page-link" href="/black-women-owned-beauty-brands">
      Black owned
    </a>
    <a class="page-link" href="/latinx-owned-beauty-brands">
      Latinx owned
    </a>
    <a class="page-link" href="/mena-women-owned-beauty-brands">
      MENA owned
    </a>
    <a class="page-link" href="/asian-women-owned-beauty-brands">
      Asian owned
    </a>
    <a class="page-link" href="/problematic-beauty-brands">
      Cancelled
    </a>
  </nav>
</header>
