@import "reboot.min";
@import "helpers";
@import "colors";
@import "type";

hr {
  height: 0;
  margin: 80px 0 100px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $color_gray;
}

img {
  max-width: 100%;
}
