.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: $font-family__sans;
  color: $color_white;
  background-color: $color_primary;
  transition: background-color 200ms ease-in-out;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $color_white;
    background: $color_black;
  }
}

.site-footer {
  margin-top: 6rem;
  padding: 2rem 0;
  font-family: $font-family__sans;
  background-color: $color_gray;
  a {
    color: $color_black;
    margin-right: 1rem;
  }
}
