.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: $font-family__sans;
  color: $color_white;
  background-color: $color_primary;
  transition: background-color 200ms ease-in-out;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $color_white;
    background: $color_black;
  }
}

.site-footer {
  margin-top: 6rem;
  li {
    margin-bottom: .5rem;
  }
  .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: solid 1px $color_gray;
  }
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 650px) {
      flex-direction: row;
    }
  }
  a {
    font-family: $font-family__sans;
    font-size: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;
    @media (min-width: 650px) {
      &:not(:first-child) {
        margin-bottom: 0;
        margin-left: 4rem;
      }
    }
  }
  a {
    display: inline-block;
    color: $color_black;
  }
  .links-social {
    a {
      margin-right: .5rem;
      text-decoration: none;
    }
    span {
      display: inline-block;
    }
    a:before {
      position: relative;
      top: 3px;
    }
  }
}
