.site-header {
  padding: 1rem;
  background-color: $color_black;
  font-family: $font-family__sans;
  .container {
    @media (min-width: 500px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.site-header_logo {
  .logotype {
    fill: $color_white;
  }
  .logo-slash {
    fill: $color_primary;
  }
  width: 120px;
  margin: 0 0 $spacer-1 0;
  @media (min-width: 500px) {
    margin: 0 $spacer-3 0 0;
  }
}

.site-title:hover .site-header_logo {
  fill: $color_primary;
}

.site-nav {
  a {
    color: $color_white;
    margin-right: $spacer-2;
    font-size: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $color_primary;
      text-decoration: none;
    }
  }
}
