.company {
  margin-bottom: $spacer-3;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  &:before {
    display: block;
    content: "—";
    color: $color_gray;
  }
}

h3 {
  margin-bottom: 0;
  a {
    color: inherit;
  }
}

.company p {
  display: inline;
  margin-bottom: $spacer-1;
}

.problematic-list .company p {
    display: block;
    margin-bottom: $spacer-2;
}

.company-ingredients,
.hashtag {
  font-family: $font-family__sans;
  font-size: 75%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.company-ingredients,
.hashtag {
  position: relative;
  margin-right: 2px;
  &:before {
    display: inline-block;
    position: absolute;
    bottom: 7px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 4px;
    content: "";
  }
}

$ingredients: (
  vegan: #e3fce3,
  organic: #f3e3fc,
  non-toxic: #fcf0e3,
  handcrafted: mistyrose,
  made-in-the-usa: #e3eafc
);

@each $ingredient, $color in $ingredients {
  .ingredient-#{$ingredient}:before {
    background-color: $color
  }
}

.hashtag {
  color: darken($color_gray, 20%);
}

.hashtags {
  line-height: 1;
  margin-bottom: 10px;
}

.company-type {
  font-family: $font-family__sans;
  font-size: 85%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: inherit;
}

.problematic-list .company img {
  width: 100%;
  margin-bottom: 5px;
  border: solid 1px $color_gray;
}
