.company {
  margin-top: $spacer-3;
  @extend .container-small;
  &:not(:first-child):before {
    display: block;
    content: "—";
    color: $color_gray;
  }
}

h3 {
  margin-bottom: 4px;
  a {
    color: inherit;
  }
}

.company p {
  display: inline;
  margin-bottom: $spacer-1;
}

.problematic-list .company p {
    display: block;
    margin-bottom: $spacer-2;
}

.company-ingredients,
.hashtag,
.company-type,
.button {
  font-family: $font-family__sans;
  text-transform: uppercase;
}

.hashtag,
.company-type,
.button {
  font-weight: 700;
}

.company-ingredients,
.hashtag,
.button  {
  font-size: 75%;
  letter-spacing: 2px;
}

.company-ingredients,
.hashtag {
  position: relative;
  &:before {
    display: inline-block;
    position: absolute;
    bottom: 7px;
    left: 0;
    z-index: -1;
    width: calc(100% - 21px);
    height: 4px;
    content: "";
  }
}

.hashtag {
  margin-right: 2px;
}

$ingredients: (
  vegan: (
    #e3fce3: 🌱
  ),
  organic: (
    #f3e3fc: ☀️
  ),
  non-toxic: (
    #fcf0e3: 🌈
  ),
  handcrafted: (
    mistyrose: 💗
  ),
  made-in-the-usa: (
    #e3eafc: 📍
  ),
  gluten-free: (
    mistyrose: 🌻
  ),
  cruelty-free: (
    mistyrose: 🐰
  )
);

@mixin ingredient-list() {
  @each $name, $ingredient in $ingredients {
    &-#{$name} {
      @each $color, $emoji in $ingredient {
        &:before {
          background-color: #{$color};
        }
        &:after {
          content: "#{$emoji}";
          font-size: 12px;
        }
      }
    }
  }
}

.ingredient {
  @include ingredient-list;
}

.hashtag,
.ingredient {
  color: darken($color_gray, 20%);
}

.hashtags {
  line-height: 1;
  margin-bottom: 10px;
}

.company-type {
  font-size: 85%;
  letter-spacing: 1px;
  color: inherit;
}

.problematic-list .company img {
  width: 100%;
  margin-bottom: 5px;
  border: solid 1px $color_gray;
}

.company-header {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: flex-start;
}

.links-social {
  transition: .6s;
}

.company .links-social {
  opacity: 0;
  margin-left: 0.75rem;
  a {
    &:not(:first-child) {
      margin-left: 0.75rem;
    }
  }
}

.company:hover .links-social {
  opacity: 1;
}

.links-social a {
  display: inline-block;
  &:before {
    display: inline-block;
    content: " ";
    width: 16px;
    height: 16px;
    background-image: url('/assets/icons.svg');
    background-size: cover;
    opacity: 0.2;
    transition: .2s;
  }
  &.ig:before {
    background-position: 0 0;
  }
  &.yt:before {
    background-position: -16px 0;
  }
  &.fb:before {
    background-position: -32px 0;
  }
  &.tw:before {
    background-position: -48px 0;
  }
  &:hover:before {
    opacity: 1;
  }
}
