---
layout: default
---

<h1 class="page-title"><span>{{ page.title }}</span></h1>

{% unless page.content == '' %}
  <div class="page-description">{{ page.content | markdownify }}</div>
{% endunless %}

{% unless site.list-asian | size > 0 %}
  <p>Oops! There aren’t any posts in this category.</p>
{% endunless %}

<div class="page-list">
{% assign asian = site.list-asian | sort: 'title' | where: 'list', 'primary'  %}
{% for post in asian %}
  {% include list-entry.html %}
{% endfor %}
</div>

<hr>
<h1 class="page-title"><span>Other Asian owned brands</span></h1>

  <p>The following brands fit one or more of the following the criteria:</p>
  <ul>
    <li><strong>not</strong> majority women-owned (either by founding or through an exit)</li>
    <li>tests on animals where required by law</li>
  </ul>

  <div class="page-list">
  {% assign other-asian = site.list-asian | sort: 'title' | where: 'list', 'secondary'  %}
  {% for post in other-asian %}
    {% include list-entry.html %}
  {% endfor %}
  </div>
