---
layout: default
ethnicity: asian
---

<h1 class="page-title"><span>{{ page.title }}</span></h1>

{% capture intro %}{% include intro.md %}{% endcapture %}
{% capture intro-secondary %}{% include intro-secondary.md %}{% endcapture %}
{{ intro | markdownify }}

<div class="page-list">
{% assign listPrimary = site.list-asian | sort: 'title' | where: 'list', 'primary'  %}
{% for post in listPrimary %}
  {% include list-entry.html %}
{% endfor %}
</div>

<hr>
<h1 class="page-title"><span>Other Asian owned brands</span></h1>

{{ intro-secondary | markdownify }}

<div class="page-list">
{% assign listSecondary = site.list-asian | sort: 'title' | where: 'list', 'secondary'  %}
{% for post in listSecondary %}
  {% include list-entry.html %}
{% endfor %}
</div>
