---
layout: default
---

<div class="page-upper">
  <div class="container">
    <h1 class="page-title"><span>{{ page.title }}</span></h1>
    {% capture intro %}{% include intro.md %}{% endcapture %}
    {{ intro | markdownify }}
  </div>
</div>

<div class="page-list">
{% assign BoB = site.list-black | sort: 'title' | where: 'list', 'primary'  %}
{% for post in BoB %}
  {% include list-entry.html %}
{% endfor %}
</div>

<div class="container">
  <hr>

  <h1 class="page-title"><span>Other Black owned brands</span></h1>
  {% capture intro-secondary %}{% include intro-secondary.md %}{% endcapture %}
  {{ intro-secondary | markdownify }}
</div>

<div class="page-list">
{% assign other-BoB = site.list-black | sort: 'title' | where: 'list', 'secondary'  %}
{% for post in other-BoB %}
  {% include list-entry.html %}
{% endfor %}
</div>
