---
layout: default
---

<h1 class="page-title"><span>{{ page.title }}</span></h1>

{% capture intro %}{% include intro.md %}{% endcapture %}
{% capture intro-secondary %}{% include intro-secondary.md %}{% endcapture %}
{{ intro | markdownify }}

<div class="page-list">
{% assign BoB = site.list-black | sort: 'title' | where: 'list', 'primary'  %}
{% for post in BoB %}
  {% include list-entry.html %}
{% endfor %}
</div>

<hr>

<h1 class="page-title"><span>Other black owned brands</span></h1>

{{ intro-secondary | markdownify }}

<div class="page-list">
{% assign other-BoB = site.list-black | sort: 'title' | where: 'list', 'secondary'  %}
{% for post in other-BoB %}
  {% include list-entry.html %}
{% endfor %}
</div>
