---
layout: default
---

<div class="page-upper">
  <div class="container">
    <h1 class="page-title"><span>{{ page.title }}</span></h1>
    {% capture intro %}{% include intro.md %}{% endcapture %}
    {{ intro | markdownify }}

    <section class="page-toc">
      <a id="js-toggle" class="button">Table of Contents</a>
      {% assign listPrimary = site.list-black | sort: 'title' | where: 'list', 'primary' %}
      {% assign listSecondary = site.list-black | sort: 'title' | where: 'list', 'secondary' %}
      <div class="toc toc--togglable">
        <ul>
        {% for post in listPrimary %}
          <li>
            <a href="#{{ post.company.name | slugify }}">{{ post.company.name }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </section>
  </div>
</div>

<div class="page-list">
{% for post in listPrimary %}
  {% include list-entry.html %}
{% endfor %}
</div>

<div class="container">
  <hr>

  <h1 class="page-title"><span>Other Black owned brands</span></h1>
  {% capture intro-secondary %}{% include intro-secondary.md %}{% endcapture %}
  {{ intro-secondary | markdownify }}
</div>

<div class="page-list">
{% for post in listSecondary %}
  {% include list-entry.html %}
{% endfor %}
</div>
