---
layout: default
---

<div class="container">
  <div id="about">
    {{ page.content | markdownify }}
  </div>

  <div id="contact">
    <h3>Suggestions?</h3>
    <p>
      If you’d like to add a company to the database, please <a href="https://goo.gl/forms/JaJgloVDdTACgWXV2">fill out this form</a> or <a href="mailto:submit@beautyundercapitalism.com">drop us an email</a>.
    </p>

    <h3>Problems?</h3>
    <p>
      If any information is incorrect, misrespresented, or you’d like the publicly available information removed, please <a href="mailto:problem@beautyundercapitalism.com">send us an email</a>.
    </p>
  </div>

sadfasafd

  <!--
  <div class="google-contact_container">
    <iframe class="google-contact" src="https://docs.google.com/forms/d/e/1FAIpQLSf7G91oEVnVED24jlFbTYtjVwb49ni3d2T_35ZlNuXCjbzd-Q/viewform?embedded=true" frameborder="0" allow="encrypted-media" allowfullscreen>Loading contact form…</iframe>
  </div>
  -->

  asdfasf
</div>
