---
layout: default
---

<h1 class="page-title"><span>{{ page.title }}</span></h1>

{% capture intro %}{% include intro.md %}{% endcapture %}
{% capture intro-secondary %}{% include intro-secondary.md %}{% endcapture %}
{{ intro | markdownify }}

<div class="page-list">
{% assign listPrimary = site.list-mena | sort: 'title' | where: 'list', 'primary' %}
{% for post in listPrimary %}
  {% include list-entry.html %}
{% endfor %}
</div>


{% capture listSecondaryHasPosts = site.list-mena | where: 'list', 'secondary' | size > 0 %}{% endcapture %}
{% if listSecondaryHasPosts %}
  <hr>

  <h1 class="page-title"><span>Other MENA owned brands</span></h1>

  {{ intro-secondary | markdownify }}

  <div class="page-list">
  {% assign listSecondary = site.list-mena | sort: 'title' | where: 'list', 'secondary'  %}
  {% for post in listSecondary %}
    {% include list-entry.html %}
  {% endfor %}
  </div>
{% else %}
{% endif %}
